name: Build

on:
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2.3.4
      - name: Install Node.js environment
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 12
      - name: Install Node.js dependencies
        run: npm install
      - name: Run linters
        uses: wearerequired/lint-action@v1.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          eslint: true
          prettier: true
